<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Your Website</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

<div class="nav-bar"></div>

<div id="app">
  
  <div class="product">
  
    <div class="product-image">
      <img :src="image" />
    </div>

    <div class="product-info">
      <h1>{{ product }}</h1>
        <p v-if="inStock">In Stock</p>
      <p v-else>Out of Stock</p>
      <span v-if="onSale">On Sale!</span>

      <ul > 
        <li v-for="detail in details "> {{detail}}</li>
    </ul>

      <ul>
        <li v-for="size in sizes">{{ size }}</li>
      </ul>


      <div v-for="variant in variants" :key="variant.variantId">
        <p>{{ variant.variantColor }}</p>
      </div>

      <a :href="link" target="_blank">More products like this</a>
    </div>
    
  </div>
    
</div> 
</body>

</html>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


<script>

var app = new Vue({
  el: '#app',
  data: {
    product: 'Socks',
     inStock: true,
    onSale: true,
    image: './assets/vmSocks-green-onWhite.jpg',
    link: 'https://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords=socks',
        details: ['80% cotton', '20% polyester', 'Gender-neutral'],
          variants: [
      {
        variantId: 2234,
        variantColor: 'green'    
      },
      {
        variantId: 2235,
        variantColor: 'blue'
      }
    ],
    sizes: ['S', 'M', 'L', 'XL', 'XXL', 'XXXL']

  } 
});


</script>
