<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Your Website</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

<div class="nav-bar"></div>

<div id="app">
  
  <div class="product">
  
    <div class="product-image">
      <img :src="image" />
    </div>

    <div class="product-info">
      <h1>{{ product }}</h1>
        <p v-if="inStock">In Stock</p>
      <p v-else>Out of Stock</p>
      <span v-if="onSale">On Sale!</span>

      <a :href="link" target="_blank">More products like this</a>
    </div>
    
  </div>
    
</div> 
</body>

</html>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


<script>

var app = new Vue({
  el: '#app',
  data: {
    product: 'Socks',
     inStock: true,
    onSale: true,
    image: './assets/vmSocks-green-onWhite.jpg',
    link: 'https://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords=socks'
  } 
});


</script>
